@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(26, 24, 24);
}
@keyframes runningText {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px); /* Adjust the distance you want the text to move */
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-runningText {
    animation: runningText 2s infinite; /* Adjust the animation duration as needed */
  }
  